
	<nav class="navLeft hidden-xs">
		<ul>
			<li class="navMain"><a [routerLink]="['Start']"><i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>

			<a class="menuLink" [routerLink]="['Start']" (click)="categoryActive = 0" [class.custom-active]="isActiveRoute('StartPages')"><li class="navNormal"  data-toggle="tooltip" data-placement="right" data-original-title="Start"><i class="fa fa-home" aria-hidden="true"></i></li></a>


			<a class="menuLink" *ngFor="let category of categories" (click)="categoryActive = category.categoryID" [routerLink]="['Category', {categoryID: category.categoryID, alias: category.alias}]" [class.custom-active]="categoryActive == category.categoryID"><li class="navNormal"  data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'kategoria:'+category.title"><i class="fa fa-bookmark" aria-hidden="true"></i></li></a>



		</ul>
	</nav>

	<nav class="navTop hidden-lg hidden-sm hidden-md">
        <li class="dropdown mobileListMenu">
          <a href="#" class="dropdown-toggle menuMobile" data-toggle="dropdown">Menu <i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul class="dropdown-menu" role="menu">

            <li><a [routerLink]="['Start']">Start</a></li>
			      <li class="divider"></li>

            <div *ngFor="let category of categories">
            <li><a [routerLink]="['Category', {categoryID: category.categoryID, alias: category.alias}]">{{category.title}}</a></li>
			      <li class="divider"></li>
            </div>


          </ul>
        </li>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12  col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
				<h1  [routerLink]="['Start']" class="logo pointer">{{title}}</h1><div class="bottomLine"></div>
			</div>
		</div>

	</div>





<router-outlet></router-outlet>



	<moczniak-footer></moczniak-footer>
