

<div class="content container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12  col-lg-offset-1 col-md-offset-1 col-sm-offset-1">


			<div *ngFor="let post of posts">
				<h2>{{post.title}}</h2>
				<div [innerHTML]="post.content.substring(0,500)+'...'"></div>
				<a (click)="routePost(post)" class="btn btn-success btn-lg btn-block">Czytaj</a>
			</div>


			<moczniak-paginate [limit]="limit" [otherArgs]="otherArgsLink" [paginate]="paginate" [page]="page" [link]="pageLink"></moczniak-paginate>




		</div>
	</div>
</div>


<moczniak-spinner [loading]="isHTTP"></moczniak-spinner>
