<div class="center" [hidden]="!show">
  <ul class="pagination  pagination-lg">

    <li [ngClass]="prev == false? 'disabled':''"><a class="pointer" *ngIf="prev == true" (click)="goToLink(page-1)">&laquo;</a><a *ngIf="prev == false">&laquo;</a></li>


    <li  [ngClass]="page.selected == true? 'active' : ''" *ngFor="let page of pages"><a class="pointer"  (click)="goToLink(page.page)">{{page.page}}</a></li>

    <li [ngClass]="next == false? 'disabled':''"><a class="pointer" *ngIf="next == true" (click)="goToLink(page+1)">&raquo;</a><a *ngIf="next == false">&raquo;</a></li>
  </ul>
</div>
