<div class="sidebarWrapper">
  <div class="sidebar">
    <div class="top">
      Popularne
    </div>
    <div class="sidebarContent">


      <div class="row rowMargin elClickable" *ngFor="let pop of popular" [routerLink]="['Post',{postID: pop.postID, alias: pop.alias}]">
        <div class="col-lg-5">
          <img src="{{domain}}{{pop.promoImage}}" class="img-responsive img-rounded">
        </div>
        <div class="col-lg-7">
          <span class="popularTitle">{{pop.title}}</span>
        </div>
      </div>





    </div>

  </div>
</div>
