
<div class="container sidebar">
<div class="row">

  <div *ngFor="let data of content; let i = index">

  <div  [class.col-lg-offset-1]="i % 3 == 0" [class.col-md-offset-1]="i % 3 == 0" [class.col-sm-offset-1]="i % 3 == 0" [class.col-lg-3]="i % 3 == 0 || i % 3 == 2" [class.col-md-3]="i % 3 == 0 || i % 3 == 2" [class.col-sm-3]="i % 3 == 0 || i % 3 == 2" class="col-xs-12"

  [class.col-lg-4]="i % 3 == 1" [class.col-md-4]="i % 3 == 1" [class.col-sm-4]="i % 3 == 1"
  >

    <div *ngIf="data.content == 'popular'">
      <h4>Popularne</h4>
      <ul class="list-group">

        <li (click)="routePost(pop)" class="list-group-item pointer" *ngFor="let pop of popular">
        <span class="badge">{{pop.visited}}</span>
        {{pop.title}}
        </li>
      </ul>
    </div>

    <div *ngIf="data.content != 'popular'"  [innerHTML]="data.content"></div>



  </div>




</div>





</div>
</div>
