
<div class="content container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12  col-lg-offset-1 col-md-offset-1 col-sm-offset-1">

			<div *ngIf="post">
				<h2>{{post.title}}</h2>
				<img *ngIf="post.promoImage != ''" src="{{domain}}{{post.promoImage}}" class="img-responsive">
				<div class="postContent" [innerHTML]="post.content"></div>




			</div>

			<div class="bottomLine"></div>


			<div id="disqus_thread"></div>

		</div>

	</div>
</div>





  <moczniak-spinner [loading]="isHTTP"></moczniak-spinner>
