@font-face {
    font-family: 'myFont'; /*a name to be used later*/
    src: url('../font/AutourOne-Regular.otf'); /*URL to font*/
}

.centerElement{
  text-align: center !important;
}
.error{
  color:#cb0d2c;
}

html,body{
	background-color:#EAEBED !important;
}


.loginPanel{
  background-color:#FFFFFF;
  -webkit-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  padding:2em;
}

.panelContent{
  width:100%;
  background-color:#FFFFFF;
  -webkit-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  padding:2em;
}

.normalHead{
  display:none;
}

.topBarLogo{
	width:100%;
	background-color:#4CAF50;

}

.logo{
	font-size:3.5em;
	line-height:1.7em;
	font-family:myFont;
	color:white;
	padding-left:2em;
}

.menuLeft ul{
	text-align:left !important;
}

.panelTitle{
	color:black;
	text-decoration:none;
	font-size:1.5em;
	font-family:myFont;
	line-height:2.5em;
	padding-top:0.55em;
	padding-bottom:1.5em;
	padding-left:0.5em;
	padding-right:0.5em;
  padding-left:2em;
}

.menu{
	width:100%;
	background-color:#FFFFFF;
-webkit-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
}


.menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:center;

}

.menu li{
	display:inline;
	padding-left:10px;
	padding-right:10px;
}



.menu a{
	color:black;
	text-decoration:none;
	font-size:1.5em;
	font-family:myFont;
	line-height:2.5em;
	padding-top:0.55em;
	padding-bottom:1.5em;
	padding-left:0.5em;
	padding-right:0.5em;
}

.menu a:hover{
	background-color:#EAEBED;
}

.linkMenu.router-link-active{
	background-color:#EAEBED;
}


.content{
	margin-top:2.5em;
}


.postWrapper{

	padding:10;
	margin:0;
	margin-top:15px;
}

.postMain{
	background-color:white;
	padding:0;
	margin:0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

-webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
}




.postSpoiler{
	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5em;
}

.postSpoiler a{
	text-decoration:none;
	color:#333;
}


.sidebarWrapper{
	padding-left:2em;
	padding-right:2em;
}

.sidebar{
	margin-top:15px;
	background-color:white;

-webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
}

.sidebar>.top{
	background-color:#4CAF50;
	font-size:1.8em;
	line-height:1.8em;
	color:white;
	text-align:center;
}


.sidebarContent{
	padding:1em;
}


.bottom1{
	margin-top:1em;
	width:100%;
	background-color:white;

}

.botbar{
    text-align: justify;
    text-justify: inter-word;
}


.mypaginate{
	text-align:center;
	margin-top:2em;
}

.footer{
	width:100%;
	background-color:#333;
}

.footerText{

	font-size:1em;
	color:white;
	line-height:4em;
}


.popularTitle{
	line-height:3.5em;
	font-size:1.2em;
}

.elClickable{
  cursor:pointer;
}


.rowMargin{
	margin-top:10px;
}



.postContent{
		background-color:white;
	padding:10;
	margin:0;

    text-align: justify;
    text-justify: inter-word;


	-webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);

}

.postContent{
  font-size:1.1em;
}

#overlay{
       background: rgba(0, 0, 0, 0.5) !important;
       position: fixed !important;
       top: 0 !important;
       left: 0 !important;
       width: 100% !important;
       z-index: 5000 !important
}


#loading{
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 6000 !important;

}
