
	<div class="container content">
		<div class="row">
			<div class="col-lg-12 panelContent">
        <div class="row">



          <div class="col-lg-12">

            <div [hidden]="!saved" class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Post zapisany!
            </div>

						<div [hidden]="!savedErr" class="alert alert-danger alert-dismissable">
						  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						  {{errorTxt}}
						</div>


          <form role="form" (ngSubmit)="pageControl()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Podaj Tytuł"  [(ngModel)]="page.title" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Podaj URL przykład ('moja-nazwa-postu')" [(ngModel)]="page.alias" required>
            </div>
            <div class="form-group">
              <ckeditor [(ngModel)]="page.content" [config]="{enterMode: 'CKEDITOR.ENTER_BR'}" required></ckeditor>
            </div>


						<h3>SEO</h3>


						<div class="form-group">
              <input type="text" class="form-control" placeholder="SEO TITLE"  [(ngModel)]="page.seoTitle">
            </div>

						<div class="form-group">
              <input type="text" class="form-control" placeholder="SEO KEYWORDS"  [(ngModel)]="page.seoKeywords">
            </div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="SEO DESCRIPTION"  [(ngModel)]="page.seoDesc">
						</div>

            <button type="submit" class="btn btn-default" >Zapisz</button>
          </form>

        </div>







			</div>


		</div>
	</div>

	  <moczniak-spinner [loading]="isHTTP"></moczniak-spinner>
