
	<div class="container content">
		<div class="row">
			<div class="col-lg-12 panelContent">
        <div class="row">



          <div class="col-lg-8">

            <div [hidden]="!saved" class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Post zapisany!
            </div>

						<div [hidden]="!savedErr" class="alert alert-danger alert-dismissable">
						  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						  {{errorTxt}}
						</div>


          <form role="form" (ngSubmit)="postControl()">
            <div class="form-group">
              <input type="text" class="form-control" id="postTitleInput" placeholder="Podaj Tytuł"  [(ngModel)]="post.title" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="postURLInput" placeholder="Podaj URL przykład ('moja-nazwa-postu')" [(ngModel)]="post.alias" required>
            </div>
						<div class="form-group">
							<select *ngIf="category" [ngModel]="modelCategory" (ngModelChange)="categoryChange($event)" class="form-control">
							    <option [value]="cat.categoryID" *ngFor="let cat of category">{{cat.title}}</option>
							</select>
						</div>
            <div class="form-group">
              <ckeditor [(ngModel)]="post.content" [config]="{enterMode: 'CKEDITOR.ENTER_BR'}" required></ckeditor>
            </div>


						<h3>SEO</h3>


						<div class="form-group">
              <input type="text" class="form-control" placeholder="SEO TITLE"  [(ngModel)]="post.seoTitle">
            </div>

						<div class="form-group">
              <input type="text" class="form-control" placeholder="SEO KEYWORDS"  [(ngModel)]="post.seoKeywords">
            </div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="SEO DESCRIPTION"  [(ngModel)]="post.seoDesc">
						</div>

            <button type="submit" class="btn btn-default" >Zapisz</button>
          </form>

        </div>

        <div class="col-lg-4">

          <img src="{{post.promoImage}}" class="img-responsive img-rounded">
        <div class="form-group">
            <label for="exampleInputFile">Załączanie Obrazka Promującego</label>
            <input type="file" id="exampleInputFile"   (change)="filechanger($event)">
        </div>

				<button class="btn btn-danger btn-full" (click)="post.promoImage = ''" >Usuń Obrazek</button>

        </div>





			</div>


		</div>
	</div>

	  <moczniak-spinner [loading]="isHTTP"></moczniak-spinner>
