
	<div class="container content">
		<div class="row">


				<div class="col-lg-6 col-lg-offset-3 loginPanel">

				<div class="centerElement error">{{loginErr}}</div>
        <form role="form">
          <div class="form-group">
            <label for="loginInput">Email</label>
            <input type="text" class="form-control" id="loginInput" placeholder="Podaj Login" [(ngModel)]="user.login">
          </div>
          <div class="form-group">
            <label for="passwordInput">Hasło</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Twoje Haslo" [(ngModel)]="user.password">
          </div>

						<button type="button" class="btn btn-success btn-lg btn-block" (click)="loginNow()">Zaloguj</button>

        </form>

			</div>




		</div>
	</div>
