<div class="mypaginate" [hidden]="!show">
  <ul class="pagination ">

    <li [ngClass]="prev == false? 'disabled':''"><a *ngIf="prev == true" [routerLink]="[link,{page:page-1}]">&laquo;</a><a *ngIf="prev == false">&laquo;</a></li>


    <li  [ngClass]="page.selected == true? 'active' : ''" *ngFor="let page of pages"><a  [routerLink]="[link,{page:page.page}]">{{page.page}}</a></li>

    <li [ngClass]="next == false? 'disabled':''"><a *ngIf="next == true" [routerLink]="[link,{page:page+1}]">&raquo;</a><a *ngIf="next == false">&raquo;</a></li>
  </ul>
</div>
