
	<div class="container content">
		<div class="row">
			<div class="col-lg-12 panelContent">
        <div class="row">

          <div class="col-lg-6">

          <form role="form" *ngIf="setting" (ngSubmit)="saveSettings()">
            <div class="form-group">
              <label for="siteNameInput">Nazwa Strony</label>
              <input type="text" class="form-control" id="siteNameInput" placeholder="Nazwa Strony" [(ngModel)]="setting.siteTitle" required>
            </div>
            <div class="form-group">
              <label for="titleSEOInput">Domyślny Tytuł Strony SEO</label>
              <input type="text" class="form-control" id="titleSEOInput" placeholder="Domyślny Tytuł Strony SEO" [(ngModel)]="setting.title" required>
            </div>

            <div class="form-group">
              <label for="keywordsSEOInput">Słowa kluczowe SEO strony głownej</label>
              <input type="text" class="form-control" id="keywordsSEOInput" placeholder="Słowa kluczowe SEO strony głownej" [(ngModel)]="setting.keywords" required>
            </div>

            <div class="form-group">
              <label for="descSEOInput">Opis SEO strony głownej</label>
              <input type="text" class="form-control" id="descSEOInput" placeholder="Opis SEO strony głownej" [(ngModel)]="setting.description" required>
            </div>




            <button type="submit" class="btn btn-default">Zapisz</button>
          </form>

        </div>


				<div class="col-lg-6">

<div class="alert alert-danger" *ngIf="loginErr != ''">{{loginErr}}</div>

<div class="alert alert-success" *ngIf="loginSucc != ''">{{loginSucc}}</div>

				<form role="form" (ngSubmit)="saveLoginData()">
					<div class="form-group">
						<label for="passwordcrInput">Obecne Hasło</label>
						<input type="password" class="form-control" id="passwordcrInput" placeholder="Obecne Hasło" [(ngModel)]="user.passwordcr" required>
					</div>
					<div class="form-group">
						<label for="passwordInput">Nowe Hasło</label>
						<input type="password" class="form-control" id="passwordInput" placeholder="Nowe Hasło" [(ngModel)]="user.password" required>
					</div>
					<div class="form-group">
						<label for="passwordCFInput">Powtórz hasło</label>
						<input type="password" class="form-control" id="passwordCFInput" placeholder="Potwórz Hasło" [(ngModel)]="user.passwordcf" required>
					</div>

					<button type="submit" class="btn btn-default">Zapisz</button>
				</form>

			</div>



				</div>

			</div>


		</div>
	</div>
