<div [hidden]="!loged" class="menu menuLeft">
      <ul>
        <li class="panelTitle">Panel Admina</li>
        <li><a class="linkMenu" [routerLink]="['Admin']">Start</a></li>
        <li><a class="linkMenu" [routerLink]="['AdminPosts']">Wpisy</a></li>
        <li><a class="linkMenu" [routerLink]="['AdminCategory']">Kategorie</a></li>
        <li><a class="linkMenu" [routerLink]="['AdminPages']">Strony</a></li>
        <li><a class="linkMenu" [routerLink]="['AdminSetting']">Ustawienia</a></li>
      </ul>

</div>


<router-outlet></router-outlet>
