
	<div class="container content">
		<div class="row">
			<div class="col-lg-12 panelContent">
        <div class="row">

          <a ><button class="btn btn-primary" [routerLink]="['AdminPostEditor',{postID:0}]">Dodaj nowy</button></a>

					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Tytuł</th>
						  <th>Kategoria</th>
						  <th>DataPublikacji</th>
							<th>Skasuj</th>
						</tr>
					  </thead>
					  <tbody>
						<tr *ngFor="let post of posts; let i = index">
						  <td>{{(i+1)+((page-1)*limit)}}</td>
						  <td (click)="editPost(post)" style="cursor:pointer;">{{post.title}}</td>
						  <td>{{post.category == null ? 'brak' : post.category.title}}</td>
						  <td>{{post.publishDate}}</td>
							<td><button class="btn btn-danger" (click)="deletePost(post.postID)">Skasuj</button></td>
						</tr>
					  </tbody>
					</table>

				</div>

					<moczniak-admin-paginate [limit]="limit" [paginate]="paginate" [page]="page" [link]="pageLink"></moczniak-admin-paginate>
			</div>


		</div>
	</div>
