
	<div class="container content">
		<div class="row">
			<div class="col-lg-12 panelContent">
        <div class="row">

          <a ><button class="btn btn-primary" [routerLink]="['AdminPageEditor',{pageID:0}]">Dodaj nową</button></a>

					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Tytuł</th>
						  <th>DataPublikacji</th>
							<th>Skasuj</th>
						</tr>
					  </thead>
					  <tbody>
						<tr *ngFor="let singlePage of pages; let i = index">
						  <td>{{(i+1)+((page-1)*limit)}}</td>
						  <td (click)="editPage(singlePage)" style="cursor:pointer;">{{singlePage.title}}</td>
						  <td>{{singlePage.publishDate}}</td>
							<td><button class="btn btn-danger" (click)="deletePage(singlePage.pageID)">Skasuj</button></td>
						</tr>
					  </tbody>
					</table>

				</div>

					<moczniak-admin-paginate [limit]="limit" [paginate]="paginate" [page]="page" [link]="pageLink"></moczniak-admin-paginate>
			</div>


		</div>
	</div>
