
	<div class="container content">
		<div class="row">
			<div class="col-lg-12 panelContent">
        <div class="row">


					<div [hidden]="!saved" class="alert alert-danger alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  {{errorTxt}}
					</div>

          <form class="form-inline" role="form" (ngSubmit)="saveCategory()">
            <div class="form-group">
              <label class="sr-only"  for="titleInput">Nazwa</label>
              <input type="text" class="form-control" id="titleInput" placeholder="Podaj Nazwę" [(ngModel)]="modelCategory.title" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="aliasInput">Alias</label>
              <input type="text" class="form-control" id="aliasInput" placeholder="Podaj Alias" [(ngModel)]="modelCategory.alias" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Dodaj</button>
            </div>

          </form>

					<form class="form-inline" role="form" (ngSubmit)="saveCategoryEdit()" [hidden]="!editCategoryStatus">
            <div class="form-group">
              <label class="sr-only"  for="titleInput">Nazwa</label>
              <input type="text" class="form-control" id="titleInput" placeholder="Podaj Nazwę" [(ngModel)]="modelCategoryEdit.title" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="aliasInput">Alias</label>
              <input type="text" class="form-control" id="aliasInput" placeholder="Podaj Alias" [(ngModel)]="modelCategoryEdit.alias" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success" >Zapisz</button>
            </div>

						<div class="form-group">
                <button class="btn btn-warning" (click)="editCategoryStatus = false">Anuluj</button>
            </div>

          </form>

					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Nazwa</th>
						  <th>Alias</th>
							<th>Skasuj</th>
							<th>Edycja</th>
						</tr>
					  </thead>
					  <tbody>
						<tr *ngFor="let cat of category; let i = index">
						  <td>{{i+1}}</td>
						  <td style="cursor:pointer;">{{cat.title}}</td>
						  <td>{{cat.alias}}</td>
						  <td><button class="btn btn-danger" (click)="deleteCategory(cat.categoryID)">Skasuj</button></td>
							<td><button class="btn btn-info" (click)="editCategory(cat)">Edytuj</button></td>
						</tr>
					  </tbody>
					</table>

				</div>

			</div>


		</div>
	</div>
