
.navTop{
	width:100%;
	height:70px;
	top:0;
	left:0;
	background-color:#222222;
}

.menuMobile{
	line-height:70px;
	font-size:35px;
	float:right;
	padding-right:1em;
	color:white;
	text-decoration:none;
}

.menuMobile:hover,.menuMobile:active{
	color:white;
	text-decoration:none;
}

.mobileListMenu{
	list-style:none;
}
.navLeft{
	width:70px;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#222222;
}

.navLeft ul{
	list-style:none;
	margin:0;
	padding:0;
}

.navLeft ul li {
	padding: 15px;
	padding-left:20px;
	font-size:30px;
	cursor:pointer;
}

.navLeft a{
	color:#888888;
}

.menuLink.custom-active > .navNormal{
	background-color:#060606 !important;
}

.menuLink.custom-active{
	color:#4d4c4c !important;
}

.menuLink.router-link-active > .navNormal{
	background-color:#060606 !important;
}

.menuLink.router-link-active{
	color:#4d4c4c !important;
}

.navNormal:hover{
	background-color:#3f3f3f;
}
.navNormal:hover a{
	color:white;
}

.navMain{
	background-color:#111111;
}

.navMain:hover{
	color:white;
}


.bottomLine{
	width:100%;
	height:2px;
	background-color:gray;
	border-radius:5px;
}

.center{
	text-align:center;
}

.sidebar{
	padding-bottom:100px;

}

.footer{
	width:100%;
	height:50px;
	position:fixed;
	bottom:0;
	left:0;
	background-color:#222222;
	line-height:50px;
	font-size:15px;
	text-align:right;
	padding-right:20px;
}

.logo{
	text-indent:1em;
}


.pointer{
	cursor:pointer;
}


#overlay{
       background: rgba(0, 0, 0, 0.5) !important;
       position: fixed !important;
       top: 0 !important;
       left: 0 !important;
       width: 100% !important;
       z-index: 5000 !important
}


#loading{
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 6000 !important;

}
